.layoutContainer {
  width: 100%;
  position: fixed;
}

.light {
  background-color: #fff;
  color: #23272f;
}

.dark {
  background-color: #23272f;
  color: #fff;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
