.headerContainer {
  width: 100%;
  height: 9vh;
  background-color: #1a1d23;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.logo {
  max-width: 35px;
  transition: transform 1s ease;
}

.logo:hover {
  transform: scale(1.05);
  transition: transform 1s ease;
}