.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #23272f;
}
.mainContainer h1 {
  font-size: 9em;
  margin: 0;
}
.mainContainer p {
  font-size: 1.8em;
  margin-bottom: 134px;
}

.light {
  background-color: #fff;
  color: #23272f;
}

.dark {
  background-color: #23272f;
  color: #fff;
}
